<h1>FA 4 BUENAFE</h1>

<h4>1. Write a Python program to print the even numbers from a given list.

List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 24, 26, 28, 30, 32]</h4>

In [1]:
list = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 24, 26, 28, 30, 32}
for num in list:
    if (num % 2) == 0:
       print(num,end=" ")

2 4 6 8 10 24 26 28 30 32

<h4>2. Generate a Python list of all the even numbers between 10 to 60.</h4>

In [2]:
for x in range(60):
    x+=1
    if (x % 2) == 0 and x>=10:
        print(x,end=" ")

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60

<h4>3. Write a program to create a function show_feu_professor() using the following conditions:</h4>

In [3]:
Show_feu_professor = []

user_input = ''

for _ in range(5):
    Name = str(input('Enter Professor Name: '))
    Salary = float(input('Enter Salary: '))

    Show_feu_professor.append([Name, Salary])

print(Show_feu_professor)

Enter Professor Name: diaz
Enter Salary: 31738
Enter Professor Name: buenafe
Enter Salary: 25137
Enter Professor Name: cruz
Enter Salary: 13762
Enter Professor Name: gella
Enter Salary: 123567
Enter Professor Name: python
Enter Salary: 134871
[['diaz', 31738.0], ['buenafe', 25137.0], ['cruz', 13762.0], ['gella', 123567.0], ['python', 134871.0]]